<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bmental.corgis.protomental" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/meowthh"
        android:label="CorgiHealth"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SignInLaunch"
            android:label="@string/title_activity_sign_in_launch" >

        </activity>
        <activity
            android:name=".PatientChooserView"
            android:label="Choosing" >
        </activity>
        <activity
            android:name=".PatientView"
            android:label="PatientData" >
        </activity>
        <activity
            android:name=".PCallView"
            android:label="Calling Patient" >
        </activity>
        <activity
            android:name=".InfoView"
            android:label="Calling Patient" >
        </activity>
        <activity
            android:name=".TaskView"
            android:label="Calling Patient" >
        </activity>
        <activity
            android:name=".EmergencyView"
            android:label="Calling Patient" >
        </activity>
        <activity
            android:name=".NewPatient"
            android:label="Creating New Patient" >
        </activity>
        <activity
            android:name=".Disclaimer"
            android:label="@string/title_activity_disclaimer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
